<h1 mat-dialog-title>Modificar insumo</h1>
<div mat-dialog-content>
  <p>Insumo: {{data.nombreInsumo}}</p>
  <p>Marca: {{data.marca}}</p>
  <p>Tipo: {{data.tipoInsumo}}</p>
  <p>Cantidad: {{data.cantidad}}</p>
  <mat-form-field>
    <mat-label>Costo</mat-label>
    <input matInput [(ngModel)]="costo" type="number" placeholder="">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Unidad Medida</mat-label>
    <mat-select [(ngModel)]="unidadMedida">
      <mat-option value="Kilogramo">Kilogramo</mat-option>
      <mat-option value="Gramo">Gramo</mat-option>
      <mat-option value="Litro">Litro</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button cdkFocusInitial (click)="handleClickModificar()">Modificar</button>
</div>
