<div class="pedido-container">
  <mat-tab-group animationDuration="0ms">
    <!-- TABLA GESTION MESAS -->
    <mat-tab label="Gestión pedido">
      <table mat-table [dataSource]="dataSourcePedido" class="mat-elevation-z8">

        <!-- Id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> Id </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- Mesa Column -->
        <ng-container matColumnDef="mesa">
          <th mat-header-cell *matHeaderCellDef> Mesa </th>
          <td mat-cell *matCellDef="let element"> {{element.mesa}} </td>
        </ng-container>

        <!-- Tipo pago Column -->
        <ng-container matColumnDef="tipoAtencion">
          <th mat-header-cell *matHeaderCellDef> Tipo Atención </th>
          <td mat-cell *matCellDef="let element"> {{element.tipoAtencion}} </td>
        </ng-container>

        <!-- Fecha Column -->
        <ng-container matColumnDef="fecha">
          <th mat-header-cell *matHeaderCellDef> Fecha </th>
          <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
        </ng-container>

        <!-- Hora Column -->
        <ng-container matColumnDef="hora">
          <th mat-header-cell *matHeaderCellDef> Hora </th>
          <td mat-cell *matCellDef="let element"> {{element.hora}} </td>
        </ng-container>
        <!-- Hora Column -->
        <ng-container matColumnDef="estadoPreparacion">
          <th mat-header-cell *matHeaderCellDef>Estado </th>
          <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
        </ng-container>

        <ng-container matColumnDef="subTotal">
          <th mat-header-cell *matHeaderCellDef> Total </th>
          <td mat-cell *matCellDef="let element">${{element.subtotal}} </td>
        </ng-container>

        <!-- Modificar Column -->
        <!-- <ng-container matColumnDef="modificar">
          <th mat-header-cell *matHeaderCellDef>Modificar</th>
          <td mat-cell *matCellDef="let element"> <button mat-flat-button color="primary"
              (click)="openDialog(element, 'modificar')">Modificar</button>
          </td>
        </ng-container> -->

        <!-- Ver Column -->
        <ng-container matColumnDef="ver">
          <th mat-header-cell *matHeaderCellDef>Ver Productos</th>
          <td mat-cell *matCellDef="let element">
            <button mat-stroked-button color="accent" (click)="openDialog(element, 'ver')">Ver</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsPedido"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsPedido;" (click)="selection.toggle(row)">
        </tr>
      </table>
    </mat-tab>
  </mat-tab-group>
</div>
