<app-navbar></app-navbar>
<div class="swiper-slide slide-item">
    <img src="assets/img/banner/restaurant-banner.jpg" class="img-fluid full-width" alt="Banner">
    <div class="transform-center">
        <div class="container">
            <div class="row justify-content-start">
                <div class="col-lg-7 align-self-center">
                    <div class="right-side-content">
                        <h1 class="text-custom-white fw-600">Anticipate y has hoy tu reserva</h1>
                        <h3 class="text-custom-white fw-400">No te quedes sin tu mesa, encuentra el día y la hora que
                            más te acomode.</h3>
                        <a routerLink="/reservas" class="btn-second btn-submit">Reservar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="overlay overlay-bg"></div>
</div>

<section class="section-padding restaurent-meals bg-light-theme">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-7">
                <div class="row">
                    <!-- . -->
                    <div class="col-lg-12 restaurent-meal-head mb-md-40">
                        <div class="card">
                            <div class="card-header">
                                <div class="section-header-left">
                                    <h3 class="text-light-black header-title">
                                        <a class="card-link text-light-black
                                        no-margin" data-toggle="collapse" href="#collapseCero">
                                            Preparemos el pedido
                                        </a>
                                    </h3>
                                </div>
                            </div>
                            <div id="collapseCero" class="collapse show">
                                <div class=" no-padding">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label class="text-light-black fw-700">Opciones de atención
                                                </label>
                                                <br>
                                                <mat-form-field appearance="fill">
                                                    <mat-select (selectionChange)="handleChangeTipoAtencion($event)"
                                                        required._mat-animation-noopable>
                                                        <mat-option *ngFor="let opcion of tipoOrdenList"
                                                            [value]="opcion.value">
                                                            {{opcion.viewValue}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="col-6" *ngIf="tipoAtencion === 'local'">
                                            <div class="form-group">
                                                <label class="text-light-black fw-700">Mesas disponibles
                                                </label>
                                                <br>
                                                <mat-form-field appearance="fill">
                                                    <mat-select (selectionChange)="handleChangeMesa($event)" required>
                                                        <mat-option *ngFor="let mesa of listaMesas" [value]="mesa.id">
                                                            {{mesa.mesa}} - {{mesa.ubicacion}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <!-- <div class="col-6" style="float:none;margin:auto;"
                                            *ngIf="tipoAtencion === 'local'">
                                            <div class="padding-15"> <a href="javascript:void"
                                                    class="btn-first green-btn text-custom-white full-width fw-500">Pedir
                                                    atención a mesa</a>
                                            </div>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 restaurent-meal-head mb-md-40">
                        <div class="card">
                            <div class="card-header">
                                <div class="section-header-left">
                                    <h3 class="text-light-black header-title">
                                        <a class="card-link text-light-black
                                        no-margin" data-toggle="collapse" href="#collapseOne">
                                            Menú Principal
                                        </a>
                                    </h3>
                                </div>
                            </div>
                            <div id="collapseOne" class="collapse show">
                                <div class="card-body no-padding">
                                    <div class="row">
                                        <div class="col-lg-12" *ngFor="let dish of dishes">
                                            <div class="restaurent-product-list" (click)="handleClickProduct(dish)">
                                                <div class="restaurent-product-detail">
                                                    <div class="restaurent-product-left">
                                                        <div class="restaurent-product-title-box">
                                                            <div class="restaurent-product-box">
                                                                <div class="restaurent-product-title">
                                                                    <h6 class="mb-2 text-light-black fw-600"
                                                                        data-toggle="modal"
                                                                        data-target="#restaurent-popup">
                                                                        {{dish.nombreProducto}}</h6>

                                                                </div>

                                                            </div>

                                                        </div>
                                                        <div class="restaurent-product-caption-box"> <span
                                                                class="text-light-white">{{dish.descripcion}}</span>
                                                        </div>
                                                        <div class="restaurent-tags-price">

                                                            <div class="restaurent-product-price">
                                                                <h6 class="text-success fw-600 no-margin">
                                                                    ${{dish.valor}}</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="restaurent-product-img">
                                                        <img src={{dish.imagen}} class="img-fluid" alt="#">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <div class="section-header-left">
                                    <h3 class="text-light-black header-title">
                                        <a class="card-link text-light-black no-margin" data-toggle="collapse"
                                            href="#collapseTwo">
                                            Bebestibles
                                        </a>
                                    </h3>
                                </div>
                            </div>
                            <div id="collapseTwo" class="collapse show">
                                <div class="card-body no-padding">
                                    <div class="row">
                                        <div class="col-lg-12" *ngFor="let drink of drinks">
                                            <div class="restaurent-product-list" (click)="handleClickProduct(drink)">
                                                <div class="restaurent-product-detail">
                                                    <div class="restaurent-product-left">
                                                        <div class="restaurent-product-title-box">
                                                            <div class="restaurent-product-box">
                                                                <div class="restaurent-product-title">
                                                                    <h6 class="mb-2" data-toggle="modal"
                                                                        data-target="#restaurent-popup"><a
                                                                            href="javascript:void(0)"
                                                                            class="text-light-black fw-600">{{drink.nombreProducto}}</a>
                                                                    </h6>
                                                                </div>

                                                            </div>

                                                        </div>
                                                        <div class="restaurent-product-caption-box"> <span
                                                                class="text-light-white">{{drink.descripcion}}</span>
                                                        </div>
                                                        <div class="restaurent-tags-price">

                                                            <div class="restaurent-product-price">
                                                                <h6 class="text-success fw-600 no-margin">
                                                                    ${{drink.valor}}</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="restaurent-product-img">
                                                        <img src={{drink.imagen}} class="img-fluid" alt="#">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <app-restaurantrightsidebar [wishList]="wishList" [subTotal]="subTotal"
                    [deleteProductWishList]="deleteProductWishList" [message]="message" [orden]="orden"
                    route="/orderdetails">
                </app-restaurantrightsidebar>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
</section>