<app-navbar></app-navbar>
<section class="final-order section-padding bg-light-theme" *ngIf="estadoReserva">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <div class="main-box padding-20">
                    <div class="row mb-xl-20">
                        <div class="col-md-6">
                            <div class="right-side-content">
                                <div class="section-header-left title">
                                    <h3 style="width: 100%;margin-bottom: .5em;" class="text-light-black header-title">
                                        Tu reserva ha sido exitosa</h3>
                                    <h5 class="fw-400">Te esperamos el {{fechareserva}} a las {{hora}}</h5>
                                </div>
                                <div class="row">
                                    <div class="col-12" style="margin-top: 2em">
                                        <button type="button" routerLink="/cancelar-reserva"
                                            style="background-color: transparent!important; border-color: black !important; color: black!important; margin-right: 1em"
                                            class="btn-second btn-submit">Cancelar reserva</button>
                                        <button type="button" routerLink="/restaurant" class="btn-second btn-submit"
                                            style="background-color: blue!important; border-color: blue!important">Volver
                                            a inicio</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="advertisement-img">
                                <img src="assets/img/banner/reservation.jpg" class="img-fluid full-width"
                                    alt="advertisement-img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
</section>
<div class="inner-wrapper" *ngIf="!estadoReserva">
    <div class="container-fluid no-padding">
        <div class="row no-gutters">
            <div class="col-md-4">
                <div class="main-banner">
                    <img src="assets/img/banner/reservation.jpg" class="img-fluid full-width main-img" alt="banner">
                </div>
            </div>
            <div class="col-md-8">
                <div class="section-2 main-page main-padding">
                    <div class="top-nav">
                    </div>
                    <div class="login-box">
                        <div class="col-12">
                            <h1 class="text-light-black fw-700">En Siglo XXI siempre puedes reservar</h1>
                            <div class="input-group row">
                                <form id="reserva-form" #rForm="ngForm" [formGroup]="reservaForm"
                                    (ngSubmit)="submitReserva()" novalidate>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="text-light-black fw-700">Nombre completo
                                                </label>
                                                <input type="text" name="#" class="form-control form-control-submit"
                                                    [ngStyle]="{'border-color': error && 'red' }"
                                                    formControlName="nombre" required>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="text-light-black fw-700">Correo electrónico
                                                </label>
                                                <input type="email" name="#" class="form-control form-control-submit"
                                                    formControlName="email"
                                                    [ngStyle]="{'border-color': error && 'red' }" required>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="text-light-black fw-700">Telefono
                                                </label>
                                                <input type="text" name="#" class="form-control form-control-submit"
                                                    formControlName="telefono"
                                                    [ngStyle]="{'border-color': error && 'red' }" required>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="text-light-black fw-700">Cantidad de personas
                                                </label>
                                                <input type="number" name="#" class="form-control form-control-submit"
                                                    formControlName="cantidadPersonas"
                                                    [ngStyle]="{'border-color': error && 'red' }" required>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="text-light-black fw-700">Hora
                                                </label>
                                                <input type="time" class="form-control form-control-submit"
                                                    formControlName="hora" id="appt" name="appt" min="09:00" max="18:00"
                                                    required>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="text-light-black fw-700">Fecha
                                                </label>
                                                <br>
                                                <mat-form-field class="example-full-width" appearance="fill">
                                                    <input matInput [min]="minDate" [max]="maxDate"
                                                        [matDatepicker]="picker" formControlName="fecha">
                                                    <mat-datepicker-toggle matSuffix [for]="picker">
                                                    </mat-datepicker-toggle>
                                                    <mat-datepicker #picker></mat-datepicker>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <button class="btn-second btn-submit" type="submit"
                                                form="reserva-form">Reservar</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>