<app-navbar></app-navbar>
<!-- <section class="section-padding contact-top bg-light-theme">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="contact-info-box mb-md-40">
                    <i class="fas fa-map-marker-alt"></i>
                    <h6 class="text-theme fw-600">13th Street. 47 W 13th St,<br>  New York, NY 10011, USA</h6>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="contact-info-box mb-md-40">
                    <i class="fas fa-phone-alt"></i>
                    <h6 class="text-theme fw-600"><a href="#" class="text-theme">(+347) 123 4567 890</a><br>  Mon-Sat 9:00am-5:00pm</h6>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="contact-info-box">
                    <i class="fas fa-envelope"></i>
                    <h6 class="text-theme fw-600"><a href="#" class="text-theme">info@domain.com</a><br>  24 X 7 online support</h6>
                </div>
            </div>
        </div>
    </div>
</section> -->
<div class="inner-wrapper">
    <div class="container-fluid no-padding">
        <div class="row no-gutters">
            <div class="col-md-6">
                <div class="main-banner">
                    <img src="assets/img/banner/reservation.jpg" class="img-fluid full-width main-img" alt="banner">
                    <!-- <div class="overlay-2 main-padding">
                        <img src="assets/img/logo-2.jpg" class="img-fluid" alt="logo">
                    </div> -->
                    <!-- <img src="assets/img/banner/burger.png" class="footer-img" alt="footer-img"> -->
                </div>
            </div>
            <div class="col-md-6">
                <div class="section-2 main-page main-padding">
                    <div class="top-nav">
                        <h5><a routerLink="/restaurant" class="text-light-green fw-700">Hacer un pedido</a></h5>
                        <!-- <h5><a routerLink="/login" class="text-light-green fw-700">Sign in</a></h5> -->
                    </div>
                    <div class="login-box">
                        <div class="col-12">
                            <h1 class="text-light-black fw-700">En Siglo XXI siempre puedes reservar</h1>
                            <div class="input-group row">
                                <form id="reserva-form" #rForm="ngForm" [formGroup]="reservaForm" (ngSubmit)="submitReserva()"
                                    novalidate>
                                    <div class="form-group">
                                        <input type="text" name="#" class="form-control form-control-submit" [ngStyle]="{'border-color': error && 'red' }"
                                            placeholder="Nombre" formControlName="nombre" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="email" name="#" class="form-control form-control-submit"
                                        formControlName="email"
                                            placeholder="Email" [ngStyle]="{'border-color': error && 'red' }" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="#" class="form-control form-control-submit"
                                        formControlName="telefono" [ngStyle]="{'border-color': error && 'red' }"
                                            placeholder="Telefono" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="#" class="form-control form-control-submit"
                                        formControlName="cantidadPersonas" [ngStyle]="{'border-color': error && 'red' }"
                                            placeholder="Cantidad de personas" required>
                                    </div>
                                    <div class="col-12">
                                        <button class="btn-second btn-submit" type="submit" form="reserva-form">Reservar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  -->
<!-- <div class="contact-map">
    <iframe src="https://maps.google.com/maps?q=university%20of%20san%20francisco&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed"></iframe>
</div> -->
<!-- <app-footer2></app-footer2> -->
