<app-navbar></app-navbar>

<section class="final-order section-padding bg-light-theme">
    <div class="container-fluid" *ngIf="estadoOrden">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <div class="main-box padding-20">
                    <div class="row mb-xl-20">
                        <div class="col-md-6">
                            <div class="right-side-content">
                                <h1 class="fw-600">Tu pago ha sido exitoso</h1>
                                <h3 class="fw-400">Te esperamos nuevamente en Siglo XXI. Gracias por tu visita</h3>
                                <a routerLink="/restaurant" class="btn-second btn-submit">Nuevo pedido</a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="advertisement-img">
                                <img src="assets/img/banner/checkout.jpg" class="img-fluid full-width"
                                    alt="advertisement-img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
    <div class="container-fluid" *ngIf="!estadoOrden">
        <div class="row">
            <div class="col-lg-9">
                <div class="main-box padding-20">
                    <div class="row mb-xl-20">
                        <div class="col-md-6">
                            <div class="section-header-left">
                                <h3 class="text-light-black header-title fw-700">Revisa y paga tu cuenta</h3>
                            </div>
                            <h6 class="text-light-black fw-700 mb-2">Tu orden</h6>
                            <p class="text-light-green fw-600">Fecha: {{fecha}}</p>

                        </div>
                        <div class="col-md-6">
                            <div class="advertisement-img">
                                <img src="assets/img/banner/checkout.jpg" class="img-fluid full-width"
                                    alt="advertisement-img">
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="!estadoOrden">
                        <div class="col-12">
                            <div class="payment-sec">
                                <div class="section-header-left">
                                    <h3 class="text-light-black header-title">Información de pago</h3>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div id="accordion">

                                            <div class="payment-option-tab">
                                                <ul class="nav nav-tabs">

                                                    <li class="nav-item"> <a class="nav-link fw-600 active" (click)="setEstadoOrden('tarjeta')" data-toggle="tab"
                                                            href="#newcreditcard">Tarjeta de credito</a>
                                                    </li>
                                                    <li class="nav-item"> <a class="nav-link fw-600" data-toggle="tab"
                                                            href="#cash" (click)="setEstadoOrden('efectivo')">Efectivo</a>
                                                    </li>
                                                </ul>
                                                <div class="tab-content">
                                                    <div class="tab-pane active" id="newcreditcard">
                                                        <form id="pago-form" #pForm="ngForm" [formGroup]="pagoForm" novalidate>
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label class="text-light-white fw-700">N&uacute;mero de tarjeta</label>
                                                                    <div class="credit-card card-front p-relative">
                                                                        <input type="number" name="#" [(ngModel)]="cardNumber"
                                                                            pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==16) return false;"
                                                                            class="form-control form-control-submit"
                                                                            placeholder="1234 5678 9101 1234" formControlName="nroTarjeta" required>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="form-group">
                                                                    <label class="text-light-white fw-700">Fecha de expiración</label>
                                                                    <input type="text" name="#"
                                                                        pattern="/^-?\d+\.?\d*$/" (keyup)="fechaTarjeta()" onKeyPress="if(this.value.length==5) return false;"
                                                                        class="form-control form-control-submit" [(ngModel)]="fechaVencimiento"
                                                                        placeholder="12/21" formControlName="fechaExpiracion" required>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <div class="form-group">
                                                                    <label class="text-light-white fw-700" >Código de seguridad</label>
                                                                    <div class="credit-card card-back p-relative">
                                                                        <input type="number" name="#" [(ngModel)]="codSeguridad"
                                                                            pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==3) return false;"
                                                                            class="form-control form-control-submit"
                                                                            placeholder="123" formControlName="codigoSeguridad" required>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3"></div>
                                                            <div class="row">
                                                                <div class="col-3"></div>
                                                                <div class="col-6">
                                                                    <div class="form-group">
                                                                        <button type="submit" class="btn btn-success full-width fw-500" (click)="pagar()" form="pago-form">Pagar</button>
                                                                        <button type="button"class="btn btn-danger full-width fw-500" form="pago-form" style="margin-top: 2%;">
                                                                            <a routerLink="/orderdetails" style="color: white;">Cancelar</a>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                                <div class="col-3"></div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <div class="tab-pane fade" id="cash">
                                                        <p class="text-light-black">Acercate a caja para realizar el pago. Gracias por tu visita!</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="sidebar">
                    <div class="cart-detail-box">
                        <div class="card">
                            <div class="card-header padding-15 fw-700">Tu orden
                            </div>
                            <div class="card-body no-padding" id="scrollstyle-4" >
                                <div class="cat-product-box" *ngFor="let item of orden.pedido">
                                    <div class="cat-product">
                                        <div class="cat-name">
                                            <a routerLink="/checkout">
                                                <p class="text-light-green fw-700"><span
                                                        class="text-dark-white">{{item.cantidad}}</span>
                                                    {{item.nombreProducto}}</p>
                                            </a>
                                        </div>
                                        <div class="delete-btn">
                                        </div>
                                        <div class="price"> <a routerLink="/checkout" class="text-dark-white fw-500">
                                                ${{item.total}}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-total">
                                    <div class="total-price border-0 pb-0"> <span class="text-dark-white fw-600">Items
                                            subtotal:</span>
                                        <span class="text-dark-white fw-600">${{orden.subtotal}}</span>
                                    </div>

                                    <div class="total-price border-0 "> <span
                                            class="text-light-black fw-700">Total:</span>
                                        <span class="text-light-black fw-700">${{orden.subtotal}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer p-0 modify-order">
                                <button class="text-custom-white full-width fw-500 bg-light-green" style="text-decoration: underline"> Modifica tu orden</button>
                                <a routerLink="/checkout" class="total-amount"> <span
                                        class="text-custom-white fw-700">TOTAL</span>
                                    <span class="text-custom-white fw-700">${{orden.subtotal}} </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-none" id="boleta" #boleta>
        <table>
            <tbody>
                <tr>
                    <td style="text-align: center;">SigloXXI RestoBar</td>
                    <td>Fecha: {{fechaBoleta}}</td>
                </tr>
                <tr>
                    <td style="text-align: center;">RUT:</td>
                    <td style="text-align: center;">12.345.678-9</td>
                </tr>
                <hr>
                <tr>
                    <td style="text-align: center;">Boleta Numero: </td>
                    <td style="text-align: center;">{{nroBoleta}}</td>
                </tr>
                <hr>
                <tr>
                    <td>Resumen</td>
                    <td> </td>
                </tr>
                <tr>
                    <table>
                        <thead>
                            <tr>
                                <th>Codigo</th>
                                <th>Producto</th>
                                <th>Cantidad</th>
                                <th>Precio Unitario</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr  *ngFor="let producto of orden.pedido">
                                <td style="width: 15%;">{{producto.id}}</td>
                                <td style="width: 15%;">{{producto.nombreProducto}}</td>
                                <td style="width: 10%;">{{producto.cantidad}}</td>
                                <td style="width: 10%;">{{producto.valor}}</td>
                            </tr>
                        </tbody>
                    </table>
                </tr>
                <hr>
                <tr>
                    <td style="text-align: center;">Dirección: Calle 123</td>
                </tr>
                <tr>
                    <td style="text-align: center;">Comuna: Santiago</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

<!-- <app-footer2></app-footer2> -->
