<app-navbar></app-navbar>

<section class="register-restaurent-sec section-padding bg-light-theme">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-1"></div>

      <div class="col-lg-10">

        <section class="recent-order" style="margin-bottom: 1.5em;">
          <div class="row">
            <div class="col-12">
              <div class="section-header-left">
                <h3 class="text-light-black header-title title">¿Qué quieres hacer hoy?</h3>
              </div>
            </div>
            <div class="col-6" *ngIf="profile === 'administrador' || profile === 'mesero'">
              <div class="mb-xl-20 card-picture">
                <img src="assets/img/banner/order-2.jpg" class="img-fluid full-width" alt="image">
                <div class="category-type overlay padding-15">
                  <button class="category-btn" routerLink="/restaurant">Nuevo pedido</button>
                </div>
              </div>
            </div>
            <div class="col-6" *ngIf="profile === 'administrador' || profile === 'mesero'">
              <div class="mb-xl-20 card-picture">
                <img src="assets/img/banner/reserva.jpg" class="img-fluid full-width" alt="image">
                <div class="category-type overlay padding-15">
                  <button class="category-btn" routerLink="/reservas">Nueva reserva</button>
                </div>
              </div>
            </div>
          </div>
        </section>
        <div class="container-bg">
          <div class="col-12">
            <div class="row">
              <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card-metricas">
                  <span class="box-text">Pedidos en proceso</span>
                  <span class="box-nro">10</span>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card-metricas">
                  <span class="box-text">Mesas disponibles</span>
                  <span class="box-nro">10</span>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card-metricas">
                  <span class="box-text">Total pedidos hoy</span>
                  <span class="box-nro">10</span>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card-metricas">
                  <span class="box-text">Reservas hoy</span>
                  <span class="box-nro">10</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="sidebar-tabs main-box padding-20 mb-md-40">
          <div id="add-restaurent-tab" class="step-app">
            <div class="row">
              <div class="col-xl-2 col-lg-3 mb-md-40">
                <ul class="step-steps steps-2">
                  <li class="add-res-tab" [ngClass]="{'active' : (currentPage === 'pedidos')}"> <a
                      (click)="currentPage = 'pedidos'" class="add-res-tab">Pedidos</a>
                  </li>
                  <li class="add-res-tab" [ngClass]="{'active' : (currentPage === 'mesas')}"> <a
                      (click)="currentPage = 'mesas'" class="add-res-tab" *ngIf="profile === 'administrador' || profile === 'mesero'">Mesas</a>
                  </li>
                  <li class="add-res-tab" [ngClass]="{'active' : (currentPage === 'productos')}"> <a
                      (click)="currentPage = 'productos'" class="add-res-tab" *ngIf="profile === 'administrador' || profile === 'cocina'">Productos</a>
                  </li>

                  <li class="add-res-tab" [ngClass]="{'active' : (currentPage === 'cocina')}" *ngIf="profile === 'administrador' || profile === 'cocina'"> <a
                      (click)="currentPage = 'cocina'" class="add-res-tab">Cocina</a>
                  </li>
                  <li class="add-res-tab" [ngClass]="{'active' : (currentPage === 'personal')}" *ngIf="profile === 'administrador'"> <a
                      (click)="currentPage = 'personal'" class="add-res-tab">Personal</a>
                  </li>
                  <li class="add-res-tab" [ngClass]="{'active' : (currentPage === 'insumos')}" *ngIf="profile === 'administrador' || profile === 'cocina'" > <a
                      (click)="currentPage = 'insumos'" class="add-res-tab">Insumos</a>
                  </li>
                  <li class="add-res-tab" [ngClass]="{'active' : (currentPage === 'reservas')}" *ngIf="profile === 'administrador' || profile === 'mesero'"> <a
                      (click)="currentPage = 'reservas'" class="add-res-tab">Reservas</a>
                  </li>
                  <li class="add-res-tab" [ngClass]="{'active' : (currentPage === 'caja')}" *ngIf="profile === 'administrador' || profile === 'cajero'"> <a
                      (click)="currentPage = 'caja'" class="add-res-tab">Caja</a>
                  </li>
                </ul>
              </div>
              <div class="col-xl-10 col-lg-8">
                <div class="step-content">
                  <div class="step-tab-panel active" id="steppanel1">
                    <div class="general-sec">
                      <!-- GESTION VISTAS -->
                      <div class="container-fluid padding-30" *ngIf="currentPage === 'pedidos'">
                        <app-vistapedido></app-vistapedido>
                      </div>

                      <div class="container-fluid padding-30" *ngIf="currentPage === 'mesas'">
                        <app-vistamesas></app-vistamesas>
                      </div>

                      <div class="container-fluid padding-30" *ngIf="currentPage === 'productos'">
                        <app-vistaproducto></app-vistaproducto>
                      </div>

                      <div class="container-fluid padding-30" *ngIf="currentPage === 'cocina'">
                        <app-vistacocina></app-vistacocina>
                      </div>

                      <div class="container-fluid padding-30" *ngIf="currentPage === 'personal'">
                        <app-vistapersonal></app-vistapersonal>
                      </div>

                      <div class="container-fluid padding-30" *ngIf="currentPage === 'insumos'">
                        <app-vistainsumos></app-vistainsumos>
                      </div>

                      <div class="container-fluid padding-30" *ngIf="currentPage === 'reservas'">
                        <app-vistareservas></app-vistareservas>
                      </div>

                      <div class="container-fluid padding-30" *ngIf="currentPage === 'caja'">
                        <app-vistapago></app-vistapago>
                      </div>

                      <!-- GESTION VISTAS -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-1"></div>
    </div>
  </div>
</section>

<!-- <app-footer2></app-footer2> -->
