<mat-card>
  <h5>Receta: {{data.nombreProducto}}</h5>
  <mat-list role="list" *ngFor="let item of insumos">
    <mat-list-item role="listitem">{{item.cantidad}} {{item.unidadMedida}} de {{item.insumoNombre}}</mat-list-item>
  </mat-list>
  <mat-divider></mat-divider>
  <mat-card-content>
    <h6 style="margin-top: 1em !important; margin-bottom: 0.5em !important">Instrucciones:</h6>
    <p>
      {{data.receta.instrucciones}}
    </p>
  </mat-card-content>
  <mat-card-actions>
  </mat-card-actions>
</mat-card>
<button mat-button (click)="onNoClick()" style="margin-top: 1em;float: right;background: #039be5;color:white">Cerrar</button>
