<mat-tab-group animationDuration="0ms">
  <!-- TABLA GESTION MESAS -->
  <mat-tab label="Gestión caja">
    <table mat-table [dataSource]="dataSourcePago" class="mat-elevation-z8">
      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle(dataSourcePago) : null"
            [checked]="selection.hasValue() && isAllSelected(dataSourcePago)"
            [indeterminate]="selection.hasValue() && !isAllSelected(dataSourcePago)"
            [aria-label]="checkboxLabel(dataSourcePago)">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row, dataSourcePago)">
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Mesa Column -->
      <ng-container matColumnDef="mesa">
        <th mat-header-cell *matHeaderCellDef> Mesa </th>
        <td mat-cell *matCellDef="let element"> {{element.mesa}} </td>
      </ng-container>

      <!-- Tipo pago Column -->
      <ng-container matColumnDef="tipoPago">
        <th mat-header-cell *matHeaderCellDef> Tipo pago </th>
        <td mat-cell *matCellDef="let element"> {{element.tipoPago}} </td>
      </ng-container>

      <!-- Id cliente Column -->
      <ng-container matColumnDef="idCliente">
        <th mat-header-cell *matHeaderCellDef> Id cliente </th>
        <td mat-cell *matCellDef="let element"> {{element.idCliente}} </td>
      </ng-container>

      <!-- Fecha Column -->
      <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef> Fecha </th>
        <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
      </ng-container>

      <!-- Hora Column -->
      <ng-container matColumnDef="hora">
        <th mat-header-cell *matHeaderCellDef> Hora </th>
        <td mat-cell *matCellDef="let element"> {{element.hora}} </td>
      </ng-container>

      <!-- Total Column -->
      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef> Total </th>
        <td mat-cell *matCellDef="let element"> {{element.total}} </td>
      </ng-container>


      <!-- Estado Column -->
      <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef> Estado </th>
        <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
      </ng-container>

      <!-- Modificar Column -->
      <ng-container matColumnDef="modificar">
        <th mat-header-cell *matHeaderCellDef> Modificar </th>
        <td mat-cell *matCellDef="let element"> <button mat-flat-button color="primary"
            (click)="openDialog('pago', element)">Modificar</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsPago"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsPago;" (click)="selection.toggle(row)">
      </tr>
    </table>
  </mat-tab>
</mat-tab-group>
