<div class="bodega-container">
    <mat-tab-group animationDuration="0ms">
      <!-- TABLA GESTION INSUMO -->
      <mat-tab label="Stock Insumos">
        <table mat-table [dataSource]="dataSourceInsumo" class="mat-elevation-z8">
  
          <!-- Id Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>
  
          <!-- Nombre Column -->
          <ng-container matColumnDef="nombreInsumo">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.nombreInsumo}} </td>
          </ng-container>
  
          <!-- Marca Column -->
          <ng-container matColumnDef="marca">
            <th mat-header-cell *matHeaderCellDef> Marca </th>
            <td mat-cell *matCellDef="let element"> {{element.marca}} </td>
          </ng-container>
  
          <!-- Tipo Column -->
          <ng-container matColumnDef="tipoInsumo">
            <th mat-header-cell *matHeaderCellDef> Tipo </th>
            <td mat-cell *matCellDef="let element"> {{element.tipoInsumo}} </td>
          </ng-container>
  
          <!-- Unidad Medida Column -->
          <ng-container matColumnDef="unidadMedida">
            <th mat-header-cell *matHeaderCellDef> Unidad Medida </th>
            <td mat-cell *matCellDef="let element"> {{element.unidadMedida}} </td>
          </ng-container>

          <!-- Cantidad Column -->
          <ng-container matColumnDef="cantidad">
            <th mat-header-cell *matHeaderCellDef> Cantidad </th>
            <td mat-cell *matCellDef="let element"> {{element.cantidad}} </td>
          </ng-container>
          
  
          <!-- Modificar Column -->
          <ng-container matColumnDef="modificar">
            <th mat-header-cell *matHeaderCellDef> Modificar </th>
            <td mat-cell *matCellDef="let element">
              <button mat-flat-button color="primary" (click)="openDialog('alimento', element)">
                Modificar
              </button>
            </td>
          </ng-container>

          <!-- Eliminar Column -->
          <ng-container matColumnDef="eliminar">
            <th mat-header-cell *matHeaderCellDef> Desactivar </th>
            <td mat-cell *matCellDef="let element">
              <button mat-flat-button color="warn" (click)="delete(element, 1)">
                Desactivar
              </button>
            </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumnsInsumo"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsInsumo;">
          </tr>
        </table>
  
      </mat-tab>

      <!-- TABLA Stock Activos-->
      <mat-tab label="Stock Activos">
        <table mat-table [dataSource]="dataSourceActivo" class="mat-elevation-z8">
  
          <!-- Id Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>
  
          <!-- Nombre Column -->
          <ng-container matColumnDef="nombreActivo">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.nombreActivo}} </td>
          </ng-container>
  
          <!-- Marca Column -->
          <ng-container matColumnDef="tipoActivo">
            <th mat-header-cell *matHeaderCellDef> Tipo </th>
            <td mat-cell *matCellDef="let element"> {{element.tipoActivo}} </td>
          </ng-container>
  
          <!-- Costo Column -->
          <ng-container matColumnDef="costo">
            <th mat-header-cell *matHeaderCellDef> Tipo </th>
            <td mat-cell *matCellDef="let element"> {{element.costo}} </td>
          </ng-container>

          <!-- Cantidad Column -->
          <ng-container matColumnDef="cantidad">
            <th mat-header-cell *matHeaderCellDef> Cantidad </th>
            <td mat-cell *matCellDef="let element"> {{element.cantidad}} </td>
          </ng-container>
          
          <!-- Modificar Column -->
          <ng-container matColumnDef="modificar">
            <th mat-header-cell *matHeaderCellDef> Modificar </th>
            <td mat-cell *matCellDef="let element">
              <button mat-flat-button color="primary" (click)="openDialog('activo', element)">
                Modificar
              </button>
            </td>
          </ng-container>

          <!-- Eliminar Column -->
          <ng-container matColumnDef="eliminar">
            <th mat-header-cell *matHeaderCellDef> Desactivar </th>
            <td mat-cell *matCellDef="let element">
              <button mat-flat-button color="warn" (click)="delete(element, 2)">
                Desactivar
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsActivo"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsActivo;">
          </tr>
        </table>
      </mat-tab>

      <!-- Salida Bodega-->
      <mat-tab label="Salida Bodega">
        <div class="row">
          <div class="col-3">
            <form id="infoCotizacion-form" #icForm="ngForm" [formGroup]="infoCotizacionForm"
              novalidate>
              <div class="row">
                <div class="col-12" style="margin-top: 1em">
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="text-light-black fw-700">Responsable<sup class="fs-16">*</sup></label>
                    <mat-form-field appearance="fill">
                      <input matInput placeholder="Fabian Araneda Molina" [disabled]="true">
                    </mat-form-field>
                    <label class="text-light-black fw-700">Requirente<sup class="fs-16">*</sup></label>
                    <mat-form-field appearance="fill">
                      <input matInput placeholder="Nombre Requirente">
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="text-light-black fw-700">Fecha de salida<sup class="fs-16">*</sup></label>
                    <br>
                    <mat-form-field color="accent" appearance="fill">
                      <input matInput [matDatepicker]="fechaEntrega" formControlName="fechaEntrega">
                      <mat-datepicker-toggle matSuffix [for]="fechaEntrega"></mat-datepicker-toggle>
                      <mat-datepicker #fechaEntrega></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </form>
            <div class="col-md-12">
              <button type="button" mat-raised-button color="primary">Guardar</button>
            </div>
          </div>
          <div class="col-9">
            <form id="agregarInsumo-form" #aiForm="ngForm" [formGroup]="agregarInsumoForm" (ngSubmit)="agregarInsumo()"
              novalidate>
              <mat-card style="margin: 1em">
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="text-light-black fw-700">Insumo
                      </label>
                      <br>
                      <mat-form-field appearance="fill">
                        <mat-select formControlName="insumo" required [(ngModel)]="id">
                          <mat-option *ngFor="let insumo of insumos" [value]="insumo.nombreInsumo">
                            {{insumo.nombreInsumo}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="text-light-black fw-700">Cantidad<sup class="fs-16">*</sup>
                      </label>
                      <input type="number" name="#" class="form-control form-control-submit" formControlName="cantidad">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <button type="submit" mat-raised-button style="margin-top: 16%;">Agregar insumo</button>
                    </div>
                  </div>
                </div>
              </mat-card>
            </form>
            <form id="agregarActivo-form" #aiForm="ngForm" [formGroup]="agregarActivoForm" (ngSubmit)="agregarActivo()"
              novalidate>
              <mat-card style="margin: 1em">
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="text-light-black fw-700">Activo
                      </label>
                      <br>
                      <mat-form-field appearance="fill">
                        <mat-select formControlName="activo" required [(ngModel)]="id">
                          <mat-option *ngFor="let activo of activos" [value]="activo.nombreActivo">
                            {{activo.nombreActivo}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="text-light-black fw-700">Cantidad<sup class="fs-16">*</sup>
                      </label>
                      <input type="number" name="#" class="form-control form-control-submit" formControlName="cantidadActivo">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <button type="submit" mat-raised-button style="margin-top: 16%;">Agregar Activo</button>
                    </div>
                  </div>
                </div>
              </mat-card>
            </form>
            <div class="col-md-12" *ngIf="hasData">
              <table mat-table [dataSource]="dataSourceInsumo2" class="mat-elevation-z8" id="tablainsumos">
                <ng-container *ngFor="let col of displayedColumnsInsumo2">
                  <ng-container matColumnDef="{{ col }}">
                    <th mat-header-cell *matHeaderCellDef> {{ col | titlecase}}</th>
                    <td mat-cell *matCellDef="let element"> {{ element[col]}}</td>
                  </ng-container>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumnsInsumo2"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsInsumo2;"></tr>
              </table>
            </div>
            <div class="col-md-12" *ngIf="hasDataA">
              <table mat-table [dataSource]="dataSourceActivo2" class="mat-elevation-z8" id="tablacotizacion">
                <ng-container *ngFor="let col of displayedColumns">
                  <ng-container matColumnDef="{{ col }}">
                    <th mat-header-cell *matHeaderCellDef> {{ col | titlecase}}</th>
                    <td mat-cell *matCellDef="let element"> {{ element[col]}}</td>
                  </ng-container>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
</div>