.user-dropdown ul > li {
  width: 100% !important;
}

.validation-message {
  font-size: 11px;
  border-radius: 4px;
  text-align: center;
  margin-top: 11px;
  color: red;
}

.mat-select, .mat-option {
  font-family: 'Poppins', sans-serif !important;
}

table {
  width: 100%;
}

.mat-tab-group {
  margin-bottom: 48px;
}

.button-container {
  width: 100%;
  text-align: right;
}

.button-container a {
  margin: 1em .5em 0;
  min-width: 9em;
}
